.contato {
  position: absolute;
  bottom: 10px;
  right: 25px;
}

.svg-icon {
  width: 30px;
  height: 30px;
}

.anime-contato {
  animation: contatoAnime 2s forwards;
  transform: translateY(-30px);
  opacity: 0;
}

@keyframes contatoAnime {
  to {
    transform: initial;
    opacity: 1;
  }
}

@media (max-width:800px) {
  .contato {
    position: unset;
    bottom: unset;
    right: unset;
    align-self: end;
    margin-left: 1rem;
  }
  .svg-icon {
    width: 25px;
    height: 25px;
  }
}