.info {
  align-self: end;
  width: 15ch;
  text-align: left;
  position: fixed;
  right: 10px;
  bottom: 0;
  line-height: 1.5;
  font-weight: 600;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

.info span {
  font-size: 0.9rem;
  font-weight: 400;
}

.anime-info {
  animation: infoAnime 2s forwards;
  transform: translateX(-30px);
  opacity: 0;
}

@keyframes infoAnime {
  to {
    transform: initial;
    opacity: 1;
  }
}

@media (max-height: 450px) {
 .info {
  margin: 0;
 }
  .info span{
    font-size: 0.75rem;
  }
}