.projeto-container {
  margin: auto auto;
}

.slide-container {
  margin: 0 auto;
  max-width: 400px;
  background-position: center;
  height: auto;
  max-width: 350px;
}

.slide {
  width: 100%;
}

.slide h2 {
  margin: 1rem;
  font-size: 1.5rem;
  text-align: center;
}

.slide-card {
  margin-top: 1rem;
  text-align: center;
}

.slide-card p {
  line-height: 1.5;
  font-weight: 400;
}

.slide-item {
  margin-top: 0.5rem;
  max-width: 100%;
  margin-bottom: 2rem;
}

.slide-link-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.slide-link {
  font-size: 1rem;
  display: block;
  border-radius: 16px;
  max-width: 300px;
  padding: 8px;
  margin: 0 auto;
}

.slide-icons {
  display: flex;
  align-items: center;
  gap: 8px;
  position: absolute;
  right: 0px;
}

.anime-projeto {
  transform: translateX(-40px);
  opacity: 0;
  animation: projetoAnime 3s ease forwards;
}

@keyframes projetoAnime {
  to {
    transform: initial;
    opacity: initial;
  }
}

@media (max-width: 800px) {
  .slide-container{
    max-width: 275px;
  }
  .slide-card {
    overflow: hidden;
  }
}

@media (max-width: 400px) {
  .slide-icons {
    display: none;
  }
}
