.projeto-container {
  margin: auto auto;
}

.slide {
  width: 100%;
}

.slide h2 {
  margin: 1rem;
  font-size: 1.5rem;
  text-align: center;
}

.slide-card {
  margin-top: 1rem;
  text-align: center;
}

.slide-item {
  margin-top: 0.5rem;
  max-width: 100%;
}

.anime-projeto {
  transform: translateX(-40px);
  opacity: 0;
  animation: projetoAnime 3s ease forwards;
}

@keyframes projetoAnime {
  to {
    transform: initial;
    opacity: initial;
  }
}


.slide-container {
  margin: 0 auto;
  max-width: 275px;
  background-position: center;
  height: auto;
}