.nome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  margin: 1.25rem;
}

h1 {
  font-size: 3rem;
}

p {
  margin-left: 4px;
  font-weight: 500;
}

.nome span {
  color: var(--color-2);
}

.links-container {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
  gap: 0.75rem;
  font-weight: bold;
  margin-top: 7rem;
  width: 100px;
}

.links-container a {
  transition: 600ms;
}

.ano-span {
  position: absolute;
  bottom: -25px;
  left: 0px;
}

@media (max-width:800px ) {
  h1 {
    font-size: 1.75rem;
  }
}

@media (max-height: 450px) {
  h1 {
    font-size: 1.85rem;
  }
  .links-container a {
    font-size: 0.9rem;
  }
}